.container-main_subtitulo {
    width: calc(16vw + 16em);
}

.container-imagens_main {
    margin-top: calc(1vw + 1em) !important;
    margin-right: calc(1vw + 1em) !important;
    margin-bottom: calc(1vw + 1em) !important;
    margin-left: calc(1vw + 1em) !important;
}

.imagens-main {
    border-style: ridge;
    border-width: 3px;
    border-color: #BBBBBB;
    max-height: calc(9vw + 9em);
}

@media only screen and (max-width: 768px) {
    .imagens-main {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #imagens-main1 {
        margin-bottom: calc(0.75vw + 0.75em) !important;
    }
}