
/*--- CSS usado no rodapé do site ---*/

.footer-container {
  height: 4vh;
  background-color: #1B1D2D;
  width: 100%;
  color: white;
  font-size: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -4px 5px -5px #1B1D2D;
}