
/*--- CSS usado no cabeçalho do site ---*/

/* CSS usado nos titulos */
.header-container {
  min-height: 32vh;
  width: 100%;
  background-color: #1B1D2D;
  box-shadow: 0px 4px 5px -5px #1B1D2D;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header_text-container {
  margin: 1em auto;
  width: 90%;
}

.header_text-container h1,
.header_text-container h2 {
  font-size: 120%;
}

.header_text-container h1 {
  margin-bottom: 0.3em;
  font-size: 250%;
}
/* CSS usado nos titulos */


/* CSS usado nas informações de contato */
.header_address-container {
  display: grid;
  grid-template-columns: 1em 1fr 1em 1fr;
  grid-template-rows: 5vh 5vh;
  margin-left: 50%;
  margin-right: 5%;
}

.header_address-container div {
  margin: 0.25em 0;
}

.header_address-container a,
.header_address-container p {
  padding: 0 0.5em;
  font-size: 100%;
}

#header_address-image-linkedin {
  background-image: url(../img/icone_linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#header_address-image-phone {
  background-image: url(../img/icone_phone.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#header_address-image-github {
  background-image: url(../img/icone_github.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#header_address-image-email {
  background-image: url(../img/icone_email.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* CSS usado nas informações de contato */