body {
    background-image: url("../img/imagem_de_fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

main {
    color: #1B1D2D;
    margin-top: calc(0.6vw + 0.6em);
    font-size: calc(0.6vw + 0.6em);
    margin-right: calc(0.6vw + 0.6em);
}

a {
    text-decoration: none !important;
}

p {
    margin-left: calc(1.5vw + 1.5em);
}

.container-main_conteudo {
    margin-left: calc(1vw + 1em);
    margin-right: calc(1vw + 1em);
    margin-top: calc(1.5vw + 1.5em);
}

.container-main_titulo {
    background-color: #a5a5a5;
    margin: auto;
    width: 80%;
    padding-top: calc(0.3vw + 0.3em);
    padding-right: calc(0.7vw + 0.7em);
    padding-bottom: calc(0.3vw + 0.3em);
    padding-left: calc(0.7vw + 0.7em);
    text-align: center;
    margin-top: calc(1.5vw + 1.5em);
}

.container-main_subtitulo {
    background-color: #BBBBBB;
    width: calc(8.5vw + 8.5em);
    padding-top: calc(0.3vw + 0.3em);
    padding-right: calc(0.5vw + 0.5em);
    padding-bottom: calc(0.3vw + 0.3em);
    padding-left: calc(0.5vw + 0.5em);
    text-align: center;
    margin-bottom: calc(0.5vw + 0.5em);
}

.main_subtitulo {
    margin-bottom: 0;
    font-size: calc(0.8vw + 0.8em);
}

.nav {
    margin-right: calc(0.9vw + 0.9em) !important;
}

.nav-underline .nav-item .nav-link {
    color: #1B1D2D !important;
}

#index-pages {
    font-size: calc(0.9vw + 8px);
}

#container-principal {
    background-color: #f8f8f8;
    height: auto;
    width: 70vw;
    position: relative;
    left: 15%;
    right: 15%;
    padding: 0px;
}

#texto_main-apresentacao {
    font-size: calc(0.65vw + 0.65em);
    font-weight: 600;
    margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    #container-principal {
        width: 100vw;
        left: 0%;
        right: 0%;
    }             
}

@media only screen and (max-width: 768px) {
    #container-principal {
        width: 100vw;
        left: 0%;
        right: 0%;
    }
}