
/* CSS usado na parte principal do site */

.main-container {
  min-height: 52vh;
  width: 92%;
}

.main_subtitle-container {
  display: inline-block;
  background-color: #a5a5a5;
  padding: 0.1em 1.5em;
  margin: 1em 0;
  font-size: 110%;
}

.main_article {
  margin-bottom: 3em;
}

.main-container p {
  margin: 0.7em 2em;
  font-size: 100%;
}

.main-container li {
  margin: 0.7em 3.3em;
}


/* CSS usado somente na tela de competências do site */

.main_image-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 0.5em;
}

.main_image-figure {
  width: 94%;
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_image_img-container {
  width: 100%;
  padding: 2em 0;
  border-top: 1px dotted #a5a5a5;
  border-bottom: 1px dotted #a5a5a5;
  display: flex;
  justify-content: space-around;
}

.main_image-figure img {
  width: 40%;
}

.main_image-figure figcaption {
  margin-top: 1em;
  font-size: 70%;
}


/* CSS usado somente na tela de projetos do site */

.main_project-container {
  display: flex;
}

.main_project_description-container {
  width: 40%;
}

.main_project_aside {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #1B1D2D;
  border-radius: 5px;
  margin-top: 1em;
}

.main_project_aside_text {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_project_aside_text p {
  margin: 0px;
  padding: 0 1em 0.4em;
}

.main_project_aside_text p:hover {
  cursor: pointer;
}

.main_project_aside_text-active {
  border-bottom: 2px solid #1B1D2D;
  font-weight: 700;
}

.main_project_aside figure {
  font-size: 70%;
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_project_aside figure div {
  padding: 1em 0;
  margin: 0 5% 1em;
  border-top: 1px dotted #a5a5a5;
  border-bottom: 1px dotted #a5a5a5;
  width: 90%;
  display: flex;
  justify-content: center;
}

.main_project_aside figure img {
  max-height: 30em;
}


/* CSS usado somente na tela de experiencias do site */

#main_experience-date-1,
#main_experience-date-2,
#main_experience-date-3 {
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 1.7em;
}
