.botao-main_imagens {
    font-weight: bold !important;
    color: #1B1D2D !important;
    border-color: #BBBBBB !important;
    border-width: 2px !important;
    background-color: #BBBBBB !important;
    font-size: calc(0.5vw + 0.5em) !important;
}

.botao-main_imagens:hover {
    border-color: #1B1D2D !important;
}

.container-imagens_codigos {
    margin-top: calc(0.9vw + 0.9em) !important;
    margin-right: calc(0.9vw + 0.9em) !important;
    margin-bottom: calc(0.9vw + 0.9em) !important;
    margin-left: calc(0.9vw + 0.9em) !important;
}

.imagens-codigos {
    border-style: ridge;
    border-width: 3px;
    border-color: #BBBBBB;
}

#imagem_controleDeGastos {
    max-height: calc(15.3vw + 15.3em);
}

.texto-fonte_codigos {
    font-size: calc(0.3vw + 0.3em);
}

.link-fonte_codigos {
    color: #1B1D2D;
}

@media only screen and (max-width: 768px) {
    img {
        max-height: calc(23vw + 23em);
        margin-bottom: calc(0.7vw + 0.7em);
    }
}